.social-icons {
    display: flex;
    align-items: center;
}

.social-icons__item{
    margin-right: 30px;

    &:hover {
        opacity: .7;
    }

    &:last-child {
        margin-right: 0;
    }
}